.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: peachpuff;
    font-weight: 100;
    color: maroon;
}

.center-text {
    text-align: center;
}