body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    font-size: 40px;
}

.container1{
    display: flex;
    justify-content: space-between;
    border: 2px solid brown;
    padding: auto;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.space-between {
    width: 1%;
}

.tasks-and-buttons {
    width: 48%;
    margin-left:10px;
    border: 1px solid magenta;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* for all, completed and pending */
.button-container {
    display: flex;
    justify-content: space-between;
}

.all-category-button {
    margin-top: 50px;
    background-color: pink;
    color: blueviolet;
    text-align: center;
    justify-content: center;
    margin-left: 30px;
}

/* for displaying the todos */
#todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #index{
    text-align: left;
    margin-right: 50px;
} */

#task {
    transition: transform 0.3s ease;
}

#task:hover {
    transform: scale(1.1);
    background-color: yellow; 
}


.edit-button, .delete-button {
    margin-right: 10px;
}

#add-task-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Adjust this to your needs */
}

/* for the add todo form
.add-todo{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} */



.add-task-button {
    background-color: red;
    color: yellow;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

button {
    background-color: #af4caa;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logout-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Tasks due in calendar */

#task-calendar {
    width: 48%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.react-calendar__tile {
    background: #f0f0f0;
    color: #000;
}

.react-calendar__tile--active {
    background: #b3d4fc;
    color: #000;
}

