body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    font-size: 40px;
}

#todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; 
    margin: auto; 
}

#task {
    flex-grow: 1;
    text-align: left;
}

#actions-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

#myCheckboxDiv, .edit-button, .delete-button {
    margin-right: 10px;
}

.add-todo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.all-category-button {
    margin-top: 50px;
    background-color: pink;
    color: blueviolet;
    text-align: center;
    justify-content: center;
}

.task-button {
    background-color: green;
    color: maroon;
    text-align: center;
}

.add-task-button {
    background-color: red;
    color: yellow;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

button {
    background-color: #af4caa;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.todo-item {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.completed {
    text-decoration: line-through;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.logout-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}